<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>ButterChicken</string>
		<key>imageName</key>
		<string>butterChicken.png</string>
		<key>ingredients</key>
		<string>Butter chicken is typically served with chicken on the bone in India and served off the bone in the United States, United Kingdom and other regions outside of India. Traditional preparations are typically more spicy and less sweet than preparations served abroad. Chicken is marinated overnight in a yogurt and spice mixture which usually includes garam masala, ginger, garlic paste, lemon or lime, pepper, coriander, cumin, turmeric and chili.</string>
		<key>procedure</key>
		<string>Butter chicken is typically served with chicken on the bone in India and served off the bone in the United States, United Kingdom and other regions outside of India. Traditional preparations are typically more spicy and less sweet than preparations served abroad. Chicken is marinated overnight in a yogurt and spice mixture which usually includes garam masala, ginger, garlic paste, lemon or lime, pepper, coriander, cumin, turmeric and chili.</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Bhindi Aaloo</string>
		<key>imageName</key>
		<string>bhindiAaloo.png</string>
		<key>ingredients</key>
		<string>These are the Bhindi Aaloo ingredients.</string>
		<key>procedure</key>
		<string>This is the procedure for Bhindi Aaloo receipe.</string>
	</dict>
</array>
</plist>
