<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>ButtonChicken</string>
		<key>imageName</key>
		<string>butterChicken.png</string>
		<key>ingredients</key>
		<string>These are the button Chicken ingredients.</string>
		<key>procedure</key>
		<string>This is the procedure for Button Chicken.</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Bhindi Aaloo</string>
		<key>imageName</key>
		<string>bhindiAaloo.png</string>
		<key>ingredients</key>
		<string>These are the Bhindi Aaloo ingredients.</string>
		<key>procedure</key>
		<string>This is the procedure for Bhindi Aaloo receipe.</string>
	</dict>
</array>
</plist>
